@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #6668EA;
    --dark-text-color: #000000;
    --light-text-color: #ffffff;
    --bg-color: # ;
    --bg-black: rgba(0, 0, 0, 0.1);
    --bg-white: rgba(255, 255, 255, 0.1);
    --background-img: url(assets/img/clear-day.jpg);
    --side-border-color: rgba(102, 104, 234, 0.2);
}

.brand-color,
.brand-color-text{ color: var(--primary-color);}
.size-body{ font-size: 1rem;}
.size-subtite{ font-size: 1.25rem;}
.size-large-title{ font-size: 2.5rem;}
.size-display{ font-size: 3.625rem;}
.medium-text { font-weight: 500; }
.semibold-text { font-weight: 600; }
.bold-text { font-weight: 700; }
.no-margin {margin: 0;}
.text-align-right{text-align: right;}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--dark-text-color);
    outline: none;
}

a{
  text-decoration: none;
}
.nice-outside-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    background: var(--bg-black);
    height: 5rem;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    gap: 2rem;
}

.logo-size{
  height: 41px;
  width: 40px;
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease;
}

.nav-logo:hover {
    transform: translateY(-1px);
}

.logo-text {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    color: var(--dark-text-color);
}

.nav-links {
    display: flex;
    gap: 5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link:hover {
    transform: translateY(-1px);
}

.nav-link.active {
    color: var(--primary-color);
    font-weight: 700;
}

.button-style {
    background: var(--bg-white);
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    width: 9.375rem;
    height: 2.5rem;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    
}

.button-style:hover {
    transform: translateY(-1px);
    
}

.mobile-menu {
    display: none !important;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--button-bg);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem
}

.home{
  height: auto;
}

.home-container{
  background-position: bottom center;
  background-size: cover;
  transition: 0.5s ease-in-out;
}


.hero-section {
  display: flex;
  align-items: center;
  max-width: 1200px;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding: 0 2rem;
  margin: 0 auto;
  justify-content: space-between;

}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.slogan{
  display: flex;
  height: auto;
  gap: 2rem;
  flex-direction: column;
}
.left-side {
  flex: 1;
  padding: 0 .75rem ;
}


.right-side {
  flex: 0 0 auto;
  padding: 0 .75rem;
  position: relative;
  top: 10rem;
  
}

.search-bar {
  height: 3.125rem;
  width: 28.4375rem;
  border-radius: 30px;
  border: none;
  background-color: #F5FAFF;
  display: flex;
  align-items: center;
  padding: 0 1.75rem;
  gap: .5rem;
}

.weather-card {
  background-color: var(--bg-black);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  border: 5px solid var(--bg-black);
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 355px;
  height: 550 px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.weather-top{
  height: 14rem;
  width: 21.5rem;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.weather-top-contents{
  padding: 2rem;
  gap: 0;
}

.weather-center-contents{
  display: flex;
  justify-content: space-between;
  width: 21.5rem;
}

.weather-right{
  display: flex;
  gap: .2rem;
}

.weather-icons{
  display: flex;
  flex-direction: column;
  gap: .9rem;
  justify-content: center;
}


.hourly-forecast{
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: .3rem;
  width: 21.5rem;
  flex-direction: row;
}

.hourly-forecast::-webkit-scrollbar {
    display: none;
}

.news-section{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  height: 100%;
}

.new-content{
  padding: 0 1.25rem;
  
}

.site-footer{
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 0 2rem;
  gap: 2rem;
}

.footer-logo{
  display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.75rem 0;
    transition: all 0.3s ease;
}

.footer-left{
  padding: 0 1.25rem;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-left-top{
  padding: 1rem 0;
}

.footer-left-bottom{
  color: var(--primary-color);
}

.footer-right{
  padding: 0.75rem 5rem ;
  display: flex;
  width: 26.25rem;
}
.list-horizontal-direction{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links{
  margin: 0 2rem;
  width: 14.75rem;
  padding: 1rem 2rem;
  height: 11rem;
  list-style: none;
 
}

.footer-link{
   color: var(--dark-text-color);
   transition: all 0.3s ease;
}

.footer-link:hover{
  transform: translateY(-1px);
}
.footer-link.active{
  color: var(--primary-color);
}

.side-borders{
  border-left: 3px solid var(--side-border-color);
  border-right: 3px solid var(--side-border-color);
}

.social-icons{
  padding: 1rem 0;
}

.social-icons a{
  transition: all 0.3s ease;
}

.social-icons a:hover{
  transform: translateY(-1px);
}
.news-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 2rem;
  max-width: 1200px;
}

.news-card > .news-preview:first-child{
  grid-column: 1 / -1; 
  /* width: 100%; */
  justify-self: start;
}
.news-preview{
  height: 195px;
  width: 550px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #ffffff;
  gap: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.news-preview-img{
  width: 265px;
  height: 100%;
  object-fit: cover;
}
.news-preview-left{
  height: 195px;
  width: 265px;
  
}

.news-preview-right{
  align-content: center;
}

.news-preview-right-top{
  min-height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: var(--dark-text-color);
}
@media (max-width: 1170px) {
  .news-card {
    grid-template-columns: repeat(1, 1fr);
  } 
}

@media (max-width: 1020px) {
  /* .size-display-tablet{
    font-size: 2.5rem;
  } */

  .size-large-title{
    font-size: 2rem;
  }

  .nav-links{
    gap: 3rem;
  }

  .content{
    
  }

  .search-bar{
    width: auto;
  }
}

@media (max-width: 950px) {


  .nav-container{
    gap: 0;
    padding: 0;
  }

  .nav-logo{
    margin: auto;
    padding: 0 1rem;
  }

  .nav-actions{
    margin: auto;
  }

  .nav-links{
    gap: .5rem;
    padding: 0;
  }

  .content{
    flex-direction: column;
    gap: 0;
    padding: 10rem 0;
    justify-content: none;
  }

  .hero-section{
    max-width: 900px;
    width: auto;
    height: auto;
    justify-content: center;
  }

  .weather-card{
    width: auto;
    
  }

  .weather-top{
    width: 100%;
    max-width: 30rem;
  }

  .weather-center-contents{
    width: 100%;
    max-width: 30rem;
  }

  .weather-bottom-contents{
    width: 100%;
    max-width: 30rem;
    overflow: hidden;
  }

  .hourly-forecast{
    min-width: 30rem;
  }

  .right-side{
    top: 2rem;
    width: 40rem;
  }

  .home{
    height: auto;
  }

  .news-section{
    justify-content: center;
  }


  .new-content{
    padding: 0 3rem;
  }

  .news-card > .news-preview:first-child{
    flex-direction: column;
    height: auto;
    min-width: 100%;
  }

  .news-preview:first-child .news-preview-right .news-preview-right-top{
    min-height: 2rem;
  }

  .news-preview:first-child .news-preview-right .news-preview-right-top h2{
    font-size: 1.5rem !important;
  }

  .news-preview:first-child .news-preview-right .news-preview-right-top p{
    font-size: 1rem !important;
  }

  .news-preview:first-child .news-preview-right .news-preview-right-bottom p {
    width: 100% !important;
    font-size: 1rem !important;
  }

  .news-preview-left{
    width: auto;
    min-width: 284px;
  }

  .news-preview-img{
    width: 100%;
  }

  .site-footer{
    max-width: 480px;
    width: auto;
    /* flex-direction: column; */
    margin: 0;
  }

  .footer-left{
    padding: 0;
    height: auto;
  }
  .footer-right{
    padding: 0;
  }

  .footer-links{
    margin: 0;
    height: auto;
    justify-content: center;
    padding: 0 2rem;
  }

  .social-icons{
    padding:1rem 2rem;
  }
}

@media (max-width: 750px) {
  .nav-button{visibility: hidden;}

  .nav-links {
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.3); 
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    transform: translateY(-150%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  
  .mobile-menu {
    display: flex !important;
  }

  .nav-link {
      width: 100%;
      padding: 0.75rem 1rem;
      border-radius: 8px;
      justify-content: flex-start;
      gap: 0.75rem;
  }

  
}

@media (max-width: 690px) {

  .right-side{
    width: auto;
  }

  .new-content{
    padding: 0;
  }

  .site-footer{
    flex-direction: column  ;
  }
}

@media (max-width: 600px) {

  .weather-card{
    width: 20rem;
  }

  .new-content{
    padding: 1rem;
  }
  .news-preview{
    width: auto;
  }

  .news-preview-left{
    min-width: 200px;
    max-width: 200px;
  }

  .news-preview:first-child .news-preview-left{
    width: 100%;
    max-width: 100%;
  }

  
}

@media (max-width: 480px) {

  .nav-container{
    max-width: 480px;
    width: 100%;
    padding: 0;
    margin: 0;  
  }

  .nice-outside-nav{
    max-width: 480px;
    width: auto;
  }

  .nav-button{
    width: 10px;
  }

  .nav-link{
    visibility: hidden;
  }

  .home{
    height: auto;
  }

  .home-container{
    background-position: top ;
  }

  

  .content{
    max-width: 480px;
    width: auto;
    gap: 1rem;
    padding: 5rem 0;
  }

  .left-side{
    height: 100px;
  }

  .slogan-top h1{
    font: 16px;
  }

  .search-bar{
    width: auto;
  }

  .right-side{
    padding: 0;
    position: static;
    padding: 0;
    top: auto;
  }

  .news-section{
    max-width: 480px;
    width: auto;
  }
  .news-card{
    max-width: 480px;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  
  .new-content{
    padding: 0;
  }

  .news-card > .news-preview:first-child{
    flex-direction: column;
    min-width: 100%;
  }
  
  .news-preview{
    flex-direction: row;
    height: auto;
    width: 100%;
    max-width: 400px;
  }

  .news-preview-left{
    width: 100%;
  }

  .news-preview-img{
    width: 100%;
  }

  .news-preview-right{
    max-width: 200px;
    width: 100%;
  }

 .news-preview-right-bottom p{
    width: 100%;

 }
 
 .news-preview:first-child .news-preview-right{
   max-width: 100%;

 }
  .footer-links{
    width: 100px;
  }

  .footer-right{
    width: 100%;
  }
  
}
